<% content_for :stylesheets do %>
  <title>Financial Literacy Month - Sponsors</title>
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:400,700" media="screen" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag 'FLM/flm.css' %>
  <%= stylesheet_link_tag 'FLM/fancybox/jquery.fancybox-buttons.css' %>
  <%= stylesheet_link_tag 'FLM/fancybox/jquery.fancybox-thumbs.css' %>
  <%= stylesheet_link_tag 'FLM/fancybox/jquery.fancybox.css' %>
<% end %>
    <div class="sidebar">
      <div id="border">
        <div class="homenav"><a href="/financialliteracymonth"><span>Home</span></a>
        </div>
        <div class="topnav" id="content1">
          <h3>Get Involved</h3> 
          <ul class="topnavlist">
            <li><a href="/financialliteracymonth/schools">K-12 Educators</a></li>
            <li><a href="/financialliteracymonth/sponsors">Sponsors</a></li>
            <li><a href="/financialliteracymonth//highereducation">Higher Education</a></li>
          </ul>
        </div>
        <div class="signup"><a href="http://na-sj02.marketo.com/lp/everfi/FLM_General-signup.html" class="various fancybox.iframe"><span>Contact</span></a>
        </div>
      </div>
    </div>
    <div class="school_length">
      <div class="company_section1" id="company">
        <%= image_tag "flm/company_tag.png", id: "schoolimg" %>
        <h2>Education Innovation<br />Sponsored by You</h2>
        <p class="companyCopy">EverFi helps the private sector drive innovation in financial literacy education by enabling you to license and private-label our learning platforms in local schools or with your existing customers and employees.</p>
        <p class="companyCopy">Platforms are delivered to students under your brand name while EverFi coordinates all logistics, training and support.</p>
          <div id="companywrap">
            <div>
              <a href="#companyformhead" class="scroll"><div class="companyicon first-child" id="si7"><%= image_tag "flm/community.png" %><p id="textfit1">Community<br />Engagement</p></div>
              <div class="companychild first-child"><p id="subtextfit1">Achieve your community engagement<br/>and reinvestment goals</p></div>
            </div></a>

            <div>
              <a href="#companyformhead" class="scroll"><div class="companyicon" id="si2"><%= image_tag "flm/interactive.png" %><p id="textfit2">Engaging<br />Platform</p></div>
              <div class="companychild"><p>Stimulate student learning<br />with gaming and simulations</p></div>
            </div></a>

            <div>
              <a href="#companyformhead" class="scroll"><div class="companyicon" id="si3"><%= image_tag "flm/expand.png" %><p id="textfit3">Brand<br /> Awareness</p></div>
              <div class="companychild"><p>Reach millennial users with<br />your brand in a positive way</p></div>
            </div></a>

            <div>
              <a href="#companyformhead" class="scroll"><div class="companyicon" id="si4"><%= image_tag "flm/assesment.png" %><p id="textfit4">Assessment<br />Data</p></div>
              <div class="companychild"><p>Access rich data to<br />demonstrate student knowledge gain</p></div>
            </div></a>

            <div>
              <a href="#companyformhead" class="scroll"><div class="companyicon" id="si6"><%= image_tag "flm/grow_brand.png" %><p id="textfit5">Media<br />Awareness</p></div>
              <div class="companychild"><p>Generate positive attention in your<br />community for your support of educational initiatives</p></div></a>
            </div>
          </div>
          <div id="banner">
            <%= image_tag "flm/banner.png", id: "ltflg" %>
          </div>
        </div>
        <div class="jumpcompany">
          <a href="#companyformhead" class="scroll down_arrow"></a>
        </div>
      </div>
      <div class="company_section2">
        <div><h2 id="companyformhead">Learn more about Sponsorship<br/>Opportunities in Your Community</h2></div>
        <div id="wtbox">
          <div id="companybs">  
            <a class="various fancybox.iframe" title="About Sponsorship" href="http://www.brainshark.com/everfi/vu?pi=zHvz10iWObz9uaAz0" onClick="_gaq.push(['_trackEvent', 'sponsors', 'videos', 'brainshark']);"><%= image_tag "flm/bs_play.png" %></a>
            <p>Learn How EverFi Can Impact Your Business</p>
          </div>
          <div id="companydownload">
            <a href="http://www.cbs58.com/features/making-milwaukee-great/Spring-Bank-182363761.html" target="_blank" target="_blank" onClick="_gaq.push(['_trackEvent', 'sponsors', 'videos', 'cbsvideo']);"><%= image_tag "flm/news_play.png" %></a>
            <p>Sample Media Coverage from an EverFi Partner</p>
          </div>
        <div id="companyfrom">
          <div id="companyformtitle"><h2>Bring EverFi to<br />Your Community</h2></div>
          <form class="lpeRegForm formNotEmpty" id="companyformstyle" method="post" enctype="application/x-www-form-urlencoded" action="http://app-sj02.marketo.com/index.php/leadCapture/save" id="mktForm_6" name="mktForm_6" _lpchecked="1" onSubmit="_gaq.push(['_trackEvent', 'sponsors', 'submit', 'userclick']);">
            <ul class="mktLblLeft">
              <li class="mktFormReq mktField">
                <label>First Name:</label>
                <br />
                <span class="mktInput">
                  <input class="mktFormText mktFormString mktFReq" name="FirstName" id="FirstName" type="text" value="" maxlength="255" tabindex="1">
                  <span class="mktFormMsg"></span>
                </span>
              </li>
              <li class="mktFormReq mktField">
                <label>Last Name:</label>
                <br />
                <span class="mktInput">
                  <input class="mktFormText mktFormString mktFReq" name="LastName" id="LastName" type="text" value="" maxlength="255" tabindex="2">
                  <span class="mktFormMsg"></span>
                </span>
              </li>
            <li class="mktFormReq mktField">
              <label>Company/Organization:</label>
              <br />
              <span class="mktInput">
                <input class="mktFormText mktFormString mktFReq" name="Company" id="Company" type="text" value="" maxlength="255" tabindex="3">
                <span class="mktFormMsg"></span>
              </span>
            </li>
            <li class="mktFormReq mktField">
              <label>Title:</label>
              <br />
              <span class="mktInput">
                <input class="mktFormText mktFormString mktFReq" name="Title" id="Title" type="text" value="" maxlength="255" tabindex="4">
                <span class="mktFormMsg"></span>
              </span>
            </li>
            <li class="mktFormReq mktField">
              <label>Email Address:</label>
              <br />
              <span class="mktInput">
                <input class="mktFormText mktFormEmail mktFReq" name="Email" id="Email" type="text" value="" maxlength="255" tabindex="5">
                <span class="mktFormMsg"></span>
              </span>
            </li>
            <li class="mktField">
              <label>Phone Number:</label>
              <br />
              <span class="mktInput">
                <input class="mktFormText mktFormPhone" name="Phone" id="Phone" type="text" value="" maxlength="255" tabindex="6">
                <span class="mktFormMsg"></span>
              </span>
            </li>
            <li id="mktFrmButtons">
              <label>&nbsp;</label>
              <input class="schoolbutton" id="mktFrmSubmit" type="submit" style="width: auto; overflow: visible; padding-left: .25em; padding-right: .25em;" value="Submit" name="submitButton" onclick="formSubmit(document.getElementById(&quot;mktForm_6&quot;)); return false;">
              &nbsp;
              <input style="display: none;" id="mktFrmReset" type="reset" value="Clear" name="resetButton" onclick="formReset(document.getElementById(&quot;mktForm_6&quot;)); return false;">
            </li>  
            <script type="text/javascript">
</script>
          </ul>
            <span style="display:none;"><input type="text" name="_marketo_comments" value=""></span>
            <input type="hidden" name="lpId" value="-1">
            <input type="hidden" name="subId" value="180">
            <input type="hidden" name="munchkinId" value="410-YCZ-984">
            <input type="hidden" name="kw" value="">
            <input type="hidden" name="cr" value="">
            <input type="hidden" name="searchstr" value="">
            <input type="hidden" name="lpurl" value="http://na-sj02.marketo.com/lp/everfi/FLM_Company-signup.html?cr={creative}&amp;kw={keyword}">
            <input type="hidden" name="formid" value="6">
            <input type="hidden" name="returnURL" value="http://na-sj02.marketo.com/lp/everfi/FLMThankYou.html">
            <input type="hidden" name="retURL" value="http://na-sj02.marketo.com/lp/everfi/FLMThankYou.html">
            <input type="hidden" name="returnLPId" value="-1">
            <input type="hidden" name="_mkt_disp" value="return">
            <input type="hidden" name="_mkt_trk" value="">
          </form></div>
          <div id="rightadjust">
            <div id="vaultinfo">
                <h2>Vault</h2>
                  <p>4th-6th Grade</p>
              </div>

                <div id="fiinfo">
                  <h2>EverFi</h2>
                  <p>High School</p>
                </div>        

              <div id="bwoodinfo">
                <h2>Buttonwood</h2>
                <p>Higher Education</p>
              </div>

              <div id="workinfo">
                <h2>EverFi@Work</h2>
                <p>Adult Learners</p>
              </div>
          </div>

          <div id="companyvids">
            <a class="various fancybox.iframe" title="EverFi Course Overview" href="http://www.youtube.com/embed/44QWf11zF0Y" onClick="_gaq.push(['_trackEvent', 'sponsors', 'videos', 'youtubeflo']);"><%= image_tag "flm/fi_video" %></a>
            <p>Overview of Platform</p>
          </div>
      </div>    
        </div>
        <div class="companytopreturn">
          <div class="upYellow"><a href="/financialliteracymonth">
            <%= image_tag "flm/upYellow.png" %>
            <p>TOP<p>
            </a></div>
            <div class="rightYellow"><a href="http://everfi.com/"><%= image_tag "flm/rightYellow.png" %><p>HOME</p></a></div>
          </div>
        </div>
        </div>

<%= render "custom_pages/flm_js" %>
<!-- Google Code for Submit Web Form Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1012123570;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "dZR0CN6Y-QUQso_P4gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1012123570/?value=0&amp;label=dZR0CN6Y-QUQso_P4gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
src="//www.googleadservices.com/pagead/conversion/987489206/?value=500&amp;label=YrI2CKra0QQQtsfv1gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

